*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    flex-direction: row;   
    overflow-x: hidden;
}

.aside{
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: rgb(244, 244, 244);
}
.aside-container{
    background-color: rgba(255, 255, 255, 1);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    height: 100vh;
}
#logo{
    height: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
}
#overview-row{
    width: 90%;
    height: 8%;
    background-color: rgb(243, 243, 243, 1);
    align-items: center;
    box-shadow: 3px 3px rgb(235, 233, 233);
}
#over{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-left: 35px;
    display: flex;
}
#overview-icon{
    height: 20px;
    padding: 0 10px;
    margin-top: 6px;
}
#blue-side{
    background-color: rgb(38, 81, 146); 
    height: 54px; 
    width: 15px; 
    position: absolute; 
    left: 240px; 
    top: -10px; 
    border-radius: 34px; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
}

#balances-row{
    width: 90%;
    height: 8%;
    align-items: center;
}
#balances{
    text-decoration: none;
    width: 75%;
    height: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-left: 35px;
}
#wallet-icon{
    height: 20px;
    padding: 0 10px;
    margin-top: -5px;
}

#collections-row{
    width: 90%;
    height: 8%;
    align-items: center;
}
#collections{
    text-decoration: none;
    width: 75%;
    height: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-left: 35px;
}
#collections-icon{
    height: 20px;
    padding: 0 10px;
    margin-top: -5px;
}

#payouts-row{
    width: 90%;
    height: 8%;
    align-items: center;
}
#payouts{
    text-decoration: none;
    width: 75%;
    height: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-left: 35px;
}
#payout-icon{
    height: 20px;
    padding: 0 10px;
    margin-top: -5px;
}

#customers-row{
    width: 90%;
    height: 8%;
    align-items: center;
}
#customers{
    text-decoration: none;
    width: 75%;
    height: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-left: 35px;
}
#customers-icon{
    height: 20px;
    padding: 0 10px;
    margin-top: -5px;
}

#settlements-row{
    width: 90%;
    height: 8%;
    align-items: center;
}
#settlements{
    text-decoration: none;
    width: 75%;
    height: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-left: 35px;
}
#settlement-icon{
    height: 20px;
    padding: 0 10px;
    margin-top: -5px;
}

#conversion-row{
    width: 90%;
    height: 8%;
    align-items: center;
}
#conversion{
    text-decoration: none;
    width: 75%;
    height: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-left: 35px;
}
#conversion-icon{
    height: 15px;
    padding: 0 10px;
    margin-top: -5px;
}

#settings-row{
    width: 90%;
    height: 8%;
    align-items: center;
}
#settings{
    text-decoration: none;
    width: 75%;
    height: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-left: 35px;
}
#settings-icon{
    height: 20px;
    padding: 0 10px;
    margin-top: -5px;
}

.main{
    width: 80%;
    height: 100%;
    background-color: rgb(244, 244, 244);
    position: relative;
    left: 20%;
}

#toggle{
    margin-top: 28px;
    height: 30px;
}
#live{
    color: rgb(0, 148, 148);
    margin-top: 30px;
}
#bell{
    padding: 0 15px;
    margin-top: 28px;
    height: 30px;
}
#profile-div{
    background-color: rgb(255, 255, 255);
    height: 200%;
    border-radius: 30px;
    width: 20%;
    margin-right: 10px;
    margin-top: 20px;
}
#profile-btn{
    height: 80%;
    border-radius: 50%;
    width: 20%;
    margin: 5px 5px 2px 5px;
    background-color: rgb(206, 239, 253);
    border: none;
    outline: none;
    color: rgb(0, 148, 148);
    font-size: 20px;
    font-weight: 645;
    padding: 5px;
    font-family: sans;
}
#profile-text{
    width: 80%;
    margin-left: 60px;
    margin-top: -40px;
    font-weight: 600; 
}
#profile-id{
    font-size: 10px;
    margin-left: 60px;
    margin-top: -20px;
    font-weight: 400;
}

#background{
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    border-radius: 5px;
    height: 55%;
}
#head-text{
    margin-left: 20px; 
    margin-top: 10px;
    color: rgb(123, 123, 123); 
}
#ngn{
    margin-top: 10px;
}
select{
    position: relative;
    left: 60px;
    outline: none;
}
#caret{
    position: relative;
    left: 70%;
    bottom: 30px;
    height: 10px;
    margin-top: 5px;
}
#amount{
    margin-left: 20px;
    color: black;
    margin-top: 5px;
    margin-bottom: 30px;
}
#fund-button{
    margin-left: 20px;
    width: 30%;
    border-radius: 5px;
    background-color: rgb(0, 148, 148);
    height: 40px;
    color: white;
    border: none;
    outline: none;
    
}
#make-button{
    margin-left: 5px;
    width: 30%;
    border-radius: 5px;
    background-color: rgb(38, 81, 147);
    height: 40px;
    color: white;
    border: none;
    outline: none;
}
#icon{
    height: 20px;
    margin-left: 10px;
    margin-top: -2px;
}

#card-1{
    width: 100%;
}
#card-1:hover{
    transform: translateY(-20px);
}
#card-2{
    width: 100%;
    position: relative;
    bottom: 132px;
    width: 93%;
    left: 10px;
}
#card-2:hover{
    transform: translateX(10px);
}

#background-2{
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: -90px;
}
#transaction{
    margin-top: 10px;
    margin-left: 20px;
}
#pie{
    height: 130px;
    margin-left: 50px;
    margin-top: 30px;
}
#pie:hover{
    transform: translateY(-5px);
}
#payin{
    margin-left: -50px;
    margin-top: 60px;
}
#pay-in-btn{
    border-radius: 50%;
    background-color: rgb(0, 113, 113);
    outline: none;
    border: none;
    width: 7%;
    height: 16px;
    padding-left: 10px;
    position: relative;
    top: 5px;
    left: 20px;
}
#payout{
    margin-left: -50px;
}
#pay-out-btn{
    border-radius: 50%;
    width: 7%;
    height: 16px;
    background-color: rgb(37, 79, 144);
    outline: none;
    border: none;
    position: relative;
    top: 5px;
    left: 10px;
}
#total-1{
    margin-left: 20px;
    margin-top: 30px;
}
#no-1{
    margin-left: 20px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    margin-top: -10px;
}
#total-2{
    margin-left: 20px;
    margin-top: 30px;
}
#no-2{
    margin-left: 20px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    margin-top: -10px;
}

#bg-conversion{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: -90px;
    height: 90%;
}
#conversion-p{
    font-weight: 700;
    margin-left: 20px;
    margin-top: 15px;
}
#select-conversion-1{
    margin-left: -30px;
    margin-top: 30px;
    width: 36%; 
}
#select-conversion-2{
    width: 39%;
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 20px;
}
#graph-div{
    margin-left: 20px;
    margin-bottom: 150px;
    position: relative;
}
#graph-li{
    display: flex;
    height: 1px;
    margin-bottom: -9px;
    padding: 0;
    font-weight: 700;
}
#graph-li:hover{
    transform: translateY(-5px);
}
#hr{
    margin-left: 55px;
    width: 75%;
    color: teal;
}
#hr:hover{
    transform: translateY(-10px);
}
#day-li{
    margin-top: -130px;
    display: flex;
    margin-left: 40px;
    list-style-type: none;
}
#day-li li{
    padding-right: 25px;
    margin-bottom: 20px;
    font-weight: 600;
}
#graph-line{
    height: 85px;
    position: absolute;
    top: 48px;
    left: 70px;
}
#graph-line:hover{
    transform: translateY(5px);
}
#graph-line-2{
    height: 120px;
    position: absolute;
    top: 30px;
    left: 70px;
}
#graph-dot{
    height: 10px;
    position: absolute;
    top: 27px;
    right: 155px;
}
#graph-dot:hover{
    transform: translateY(1px);
}
#bg-payin{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: -70px;
    height: 88%;
}
#payin-p{
    font-weight: 700;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 23px;
    color: rgb(0, 148, 148);
}
#select-payin-1{
    margin-left: -10px;
    margin-top: 25px;
    padding-right: 5px;
}
#select-payin-2{
    margin-top: 25px;
    margin-left: 5px;
    margin-bottom: 20px;
    padding-left: 3px;
    width: 40%;
}
#payin-li{
    display: flex;
    height: 20px;
    margin-bottom: -12px;
    padding: 0;
    font-weight: 700;
    margin-top: 20px;
}
#payin-li:hover{
    transform: translateY(-5px);
}
#payin-hr{
    margin-left: 55px;
    width: 79%;
    margin-top: 6px;
    color: teal;
}
#p-1{
    background-color: rgb(0, 148, 148);
    width: 35px;
    height: 105px;
    position: absolute;
    bottom: 135px;
    left: 76px;
}
#p-2{
    background-color: rgb(0, 148, 148);
    width: 35px;
    height: 245px;
    position: absolute;
    bottom: 135px;
    left: 136px;
}
#p-3{
    background-color: rgb(0, 148, 148);
    width: 35px;
    height: 145px;
    position: absolute;
    bottom: 135px;
    left: 195px;
}
 #p-4{
    background-color: rgb(0, 148, 148);
    width: 35px;
    height: 210px;
    position: absolute;
    bottom: 135px;
    left: 255.5px;
}
#p-5{
    background-color: rgb(0, 148, 148);
    width: 35px;
    height: 155px;
    position: absolute;
    bottom: 135px;
    left: 310px;
}
#p-6{
    background-color: rgb(0, 148, 148);
    width: 35px;
    height: 175px;
    position: absolute;
    bottom: 135px;
    left: 370px;
}
#p-7{
    background-color: rgb(0, 148, 148);
    width: 35px;
    height: 165px;
    position: absolute;
    bottom: 135px;
    left: 431px;
} 

#bg-payout{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: -70px;
    height: 88%;
}
#payout-p{
    font-weight: 700;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 23px;
    color: rgb(38, 81, 147);
}
#select-payout-1{
    margin-left: -10px;
    margin-top: 25px;
    padding-right: 5px;
}
#select-payout-2{
    margin-top: 25px;
    margin-left: 5px;
    margin-bottom: 20px;
    padding-left: 3px;
    width: 40%;
}
#payout-li{
    display: flex;
    height: 20px;
    margin-bottom: -12px;
    padding: 0;
    font-weight: 700;
    margin-top: 20px;
}
#payout-li:hover{
    transform: translateY(-5px);
}
#payout-hr{
    margin-left: 55px;
    width: 79%;
    margin-top: 6px;
    color: teal;
}
#p-o-1{
    background-color: rgb(38, 81, 147);
    width: 35px;
    height: 105px;
    position: absolute;
    bottom: 135px;
    left: 76px;
}
#p-o-2{
    background-color: rgb(38, 81, 147);
    width: 35px;
    height: 245px;
    position: absolute;
    bottom: 135px;
    left: 136px;
}
#p-o-3{
    background-color: rgb(38, 81, 147);
    width: 35px;
    height: 145px;
    position: absolute;
    bottom: 135px;
    left: 195px;
}
 #p-o-4{
    background-color: rgb(38, 81, 147);
    width: 35px;
    height: 210px;
    position: absolute;
    bottom: 135px;
    left: 255.5px;
}
#p-o-5{
    background-color: rgb(38, 81, 147);
    width: 35px;
    height: 155px;
    position: absolute;
    bottom: 135px;
    left: 310px;
}
#p-o-6{
    background-color: rgb(38, 81, 147);
    width: 35px;
    height: 175px;
    position: absolute;
    bottom: 135px;
    left: 370px;
}
#p-o-7{
    background-color: rgb(38, 81, 147);
    width: 35px;
    height: 165px;
    position: absolute;
    bottom: 135px;
    left: 431px;
} 
